.klump-configure .button {
  float: right;
}

.klump-section .klump-configure .button:before {
  content: 'Configure';
}

.klump-section.active .klump-configure .button:before {
  content: 'Close';
}

.klump-section .heading {
  background: url('../images/klump.png') no-repeat 0 50% / 18rem auto; padding-left: 20rem;
}
